<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="VedaConnectBining">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <security authenticationMode="UserNameOverTransport" includeTimestamp="false" />
          <httpsTransport authenticationScheme="Basic" keepAliveEnabled="false" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://cteau.vedaxml.com/sys2/soap11/vedascore-apply-v2-0"
          binding="customBinding" bindingConfiguration="VedaConnectBining"
          contract="VedaScoreApply.VedaScoreApplyPortType" name="VedaConnectEndpoint" />
    </client>
  </system.serviceModel>
</configuration>