<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VedaScoreApplySOAP12Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="VedaScoreApplySOAP12Binding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://vedaxml.com/sys2/soap12/vedascore-apply-v2-0"
                binding="basicHttpBinding" bindingConfiguration="VedaScoreApplySOAP12Binding"
                contract="VedaScoreApply.VedaScoreApplyPortType" name="VedaScoreApplySOAP12Port" />
        </client>
    </system.serviceModel>
</configuration>